* {
  margin: 0%;
  padding: 0%;
  height: 100%;
}

.Contact-head {
  background-color: #e2dfea;

}

.contact-body input {
  border-radius: 4px;
  width: 600px;
  /* border: none; */
  height: 30px;
  margin-top: 4px;
}
.contact-body {
  margin-top: 55px;
  padding: 20px;
  width: 600px;
  height: 500px;
  background-color: #fff;
  border-radius: 15px;
  margin-left:28%;
  position: absolute;
}
.submitbutton {
  width: 70px;
  height: 32px;
  border-radius: 5px;
  margin-top: 10px;
}
.Textarea {
  height: 200px;
  width: 600px;
}
